<section class="d-flex justify-content-center align-items-center" id="login-container">
  <!--Colocar ícones-->
  <div class="d-flex flex-column align-items-center gap-4 position-relative" id="login-container__login-model">
    <div id="login-container__image-box" class="mb-5">
      <img src="/dist/assets/img/LOGO.svg" alt="Logo do sistema" class="w-25 user-select-none">
    </div>
    <div class="d-flex mb-5" id="options">
      <input class="d-none" type="checkbox" name="sign-in" id="sign-in-btn">
      <input class="d-none" type="checkbox" name="sign-up" id="sign-up-btn">
      <label for="sign-in-btn" id="options__sign-in" (click)="optionChecked()" class="user-select-none">login</label>
      <label for="sign-up-btn" id="options__sign-up" (click)="optionChecked()" class="user-select-none">cadastro</label>
    </div>
    @if(flagChecked()){
      <app-sign-in></app-sign-in>
    } @else if (!flagChecked()) {
      <app-sign-up></app-sign-up>
    }
  </div>
</section>
