<section class="d-flex justify-content-center align-items-center" id="login-container">
  <div class="d-flex flex-column justify-content-center align-items-center gap-4" id="login-container__login-model">
    <div id="login-container__logo-image">
        <img src="/dist/assets/img/LOGO.svg" alt="Logo do sistema" class="w-25">
    </div>
    <div class="d-flex " id="options">
        <input type="checkbox" name="sign-in" id="sign-in-btn">
        <label for="sign-in" id="options__sign-in">login</label>
        <input type="checkbox" name="sign-up" id="sign-up-btn">
        <label for="sign-up" id="options__sign-up">cadastro</label>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" id="inputs-form">
      <input type="text" name="email" id="inputs-form__email" placeholder="email or name">
      <input type="password" name="password" id="inputs-form__password" placeholder="password">
    </div>
    <div class="button-container">
    </div>
  </div>
</section>
