<section class="container-fluid d-flex flex-column justify-content-center align-items-center" id="about-container">
    <h2 id="about-container__title">Sobre</h2>
    <div class="container-fluid d-flex justify-content-center align-items-center" id="about-container">
        <div id="about-container__box-info">
            <h2 id="box-info__title">O que é o sistema ERP Quirckly?</h2>
            <p id="box-info__text">É um sistema de gestão que engloba diversas áreas de uma empresa em um único sistema. O ERP Quirckly torna essas vantagens reais e práticas, garantindo uma migração simples e uma usabilidade intuitiva.</p>
            <a href="#" class="btn" id="box-info__button">Saiba mais</a>
        </div>
        <div id="about-container__box-image">
            <img src="/dist/assets/img/ABOUT.svg" alt="Imagem da seção sobre">
        </div>
    </div>
</section>