<section class="container-fluid" id="service-container">
    <h2 id="service-container__title">Serviço</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            @for(card of cards; track card.iconName){
            <div class="swiper-slide">
                <app-card [iconName]="card.iconName" [cardTitle]="card.cardTitle" [cardDescribe]="card.cardDescribe"/>
            </div>
        }
        </div>
        <div class="swiper-pagination-disabled"></div>
    </div>
    <div class="card-collection">
         @for(card of cards; track card.iconName){
            <div>
                <app-card [iconName]="card.iconName" [cardTitle]="card.cardTitle" [cardDescribe]="card.cardDescribe"/>
            </div>
        }
    </div>
</section>
