<!-- <section class="container-fluid" id="service-container">
    <h2 id="service-container__title">Serviço</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><app-card iconName="cash" cardTitle="TITULO" cardDescribe="TEXTOTEXTO"/></div>
            <div class="swiper-slide"><app-card iconName="body" cardTitle="TITULO" cardDescribe="TEXTOTEXTO"/></div>
            <div class="swiper-slide"><app-card iconName="cash" cardTitle="TITULO" cardDescribe="TEXTOTEXTO"/></div>
            <div class="swiper-slide"><app-card iconName="body" cardTitle="TITULO" cardDescribe="TEXTOTEXTO"/></div>
        </div>
        <div class="swiper-scrollbar-disabled'"></div>
    </div>
</section> -->