<section class="container-fluid" id="service-container">

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.mjs'
        new Swiper('.swiper', {
            slidesPerView: 3,
        });
    </script>
</section>