<header class="container-fluid" id="header-container">
    <nav class="d-flex justify-content-between align-items-center" id="header-container__box">
      <img src="./dist/assets/img/LOGO.svg" alt="logo do ERPQ" class="logo" />
      <ul class="list-unstyled gap-5" id="menu">
        <li id="menu__item">
          <a href="#a" id="menu__link" class="btn">Home</a>
        </li>
        <li id="menu__item">
          <a href="#b" id="menu__link" class="btn">Service</a>
        </li>
        <li id="menu__item">
          <a href="#c" id="menu__link" class="btn">About</a>
        </li>
        <li id="menu__item">
          <a href="#d" id="menu__link" class="btn">Contact</a>
        </li>
      </ul>
      <div id="login-btn-container">
        <a href="#e" class="btn">
          Entrar
          <img src="dist/assets/icon/LOGIN.svg" alt="Imagem de login" />
        </a>
      </div>
      <input type="checkbox" class="d-none" id="menu-hamburger__checkbox">
      <label for="menu-hamburger__checkbox" class="menu-hamburger__label">
        <img src="/dist/assets/img/MENU.svg" alt="imagem do menu hamburger" class="user-select-none">
      </label>
      <ul class="list-unstyled" id="menu-hamburger">
        <li id="menu-hamburger__item">
          <a href="#" id="menu-hamburger__link" class="btn" tabindex="-1">Home</a>
        </li>
        <li id="menu-hamburger__item">
          <a href="#" id="menu-hamburger__link" class="btn" tabindex="-1">Service</a>
        </li>
        <li id="menu-hamburger__item">
          <a href="#" id="menu-hamburger__link" class="btn" tabindex="-1">About</a>
        </li>
        <li id="menu-hamburger__item">
          <a href="#" id="menu-hamburger__link" class="btn" tabindex="-1">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  