<header class="container-fluid" id="header-container">
  <nav class="d-flex justify-content-between align-items-center" id="header-container__box">
    <img src="./dist/assets/img/LOGO.svg" alt="logo do ERPQ" class="logo">
    <ul class="list-unstyled gap-5" id="menu">
        <li class="" id="menu__item">
            <a href="#" id="menu__link" class="btn">Home</a>
        </li>
        <li class="" id="menu__item">
            <a href="#" id="menu__link" class="btn">Service</a>
        </li>
        <li class="" id="menu__item">
            <a href="#" id="menu__link" class="btn">About</a>
        </li>
        <li class="" id="menu__item">
            <a href="#" id="menu__link" class="btn">Contact</a>
        </li>
    </ul>
    <div id="login-btn-container">
        <a href="#" class="btn">
            Entrar
            <img src="dist/assets/icon/LOGIN.svg" alt="Imagem de login">
        </a>
    </div>
    <input type="checkbox" class="d-none" id="menu-hamburger__checkbox">
    <label for="menu-hamburger__checkbox" class="menu-hamburger__label">
        <img src="/dist/assets/img/MENU.svg" alt="imagem do menu hamburger">
    </label>
    <ul class="list-unstyled" id="menu-hamburger">
        <li id="menu-hamburger__item">
            <a href="#" id="menu-hamburger__link" class="btn">Home</a>
        </li>
        <li id="menu-hamburger__item">
            <a href="#" id="menu-hamburger__link" class="btn">Service</a>
        </li>
        <li id="menu-hamburger__item">
            <a href="#" id="menu-hamburger__link" class="btn">About</a>
        </li>
        <li id="menu-hamburger__item">
            <a href="#" id="menu-hamburger__link" class="btn">Contact</a>
        </li>
    </ul>
</nav>
</header>