<section class="container-fluid" id="contact-container">
    <h2 id="contact-container__title">Contato</h2>
    <form id="contact-container__form">
        <input type="text" placeholder="nome completo">
        <input type="text" placeholder="empresa" required>
        <input type="email" placeholder="email" required>
        <input type="text" placeholder="cep">
        <textarea name="" id="contact-container__describe"></textarea>
        <button id="contact-container__button">enviar</button>
    </form>
    
</section>