<dialog open class="d-flex flex-column gap-2 user-select-none" id="dialog-container" tabindex="-1">
  <form class="d-flex flex-column justify-content-center align-items-center" id="inputs-form">
    <input type="text" name="email" id="inputs-form__email" placeholder="email">
    <input type="text" name="name" id="inputs-form__name" placeholder="nome">
    <input type="password" name="password" id="inputs-form__password" placeholder="senha">
  </form>
  <div class="d-flex flex-column gap-2" id="button-container">
    <div id="terms-container" class="d-flex align-content-center gap-1">
      <input type="checkbox" name="privacy-terms" id="button-container__terms">
      <label for="button-container__terms" id="button-container__text-terms">Você concorda com nossos termos de privacidade</label>
    </div>
    <button type="submit" id="button-container__button-sign-up">Cadastro</button>
  </div>
</dialog>